@page "/products"

@using ProductsSearch.Web.Services
@using ProductsSearch.Web.Components

@inject IProductsService ProductsService

<h1>Productos</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col">
                    <ProductListItem Product="@product"/>
                </div>
            }
        </div>
    </div>
}

@code {
    private IEnumerable<Product> products;

    protected override async Task OnInitializedAsync()
    {
        var response = await ProductsService.GetProducts();
        products = response.Data;
    }
}
