@page "/products"
@page "/products/{searchTerm}"

@using ProductsSearch.Web.Services
@using ProductsSearch.Web.Components

@inject IProductsService ProductsService


@if (products == null && string.IsNullOrEmpty(ErrorMessage) && string.IsNullOrEmpty(NoItemsFoundMessage))
{
<div class="col-12">
    <div class="d-flex justify-content-center align-items-center" style="height: 100px">
        <div class="spinner-grow text-primary" role="status" />
        <p class="sr-only">Cargando...</p>
    </div>
</div>

}
else if (products?.Any() ?? false)
{
    <div class="container">
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col">
                    <ProductListItem Product="@product" />
                </div>
            }
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(NoItemsFoundMessage))
{
    <div class="container">
        <div class="alert alert-danger" role="alert">
            @NoItemsFoundMessage
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="container">
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    </div>
}

@code {
    [Parameter]
    public string SearchTerm { get; set; }

    private IEnumerable<Product> products;
    private string ErrorMessage;
    private string NoItemsFoundMessage;

    protected override async Task OnInitializedAsync()
    {
        var response = await ProductsService.GetProducts(SearchTerm ?? string.Empty);

        if (response.Success && response.Products != null && response.Products.Any())
        {
            products = response.Products;
        }
        else if (!string.IsNullOrEmpty(response.Message))
        {
            ErrorMessage = response.Message;
        }
        else
        {
            NoItemsFoundMessage = "No se encontraron Productos.";
        }
    }
}
