@inject IProductsService ProductsService
@inject NavigationManager NavigationManager

<div>
    <div class="search">
        <input type="text" class="searchTerm" placeholder="¿Qué estas buscando?" @bind="searchTerm">
        <button type="submit" class="searchButton" @onclick="SearchProducts">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>

@code {
    private string searchTerm;

    private void SearchProducts()
    {
        string url = $"products/{searchTerm}";
        NavigationManager.NavigateTo(url, true);
    }
}
