<div class="card" style="width: 18rem;">
    <img src="@Product.ImageUrl" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Product.Brand</h5>
        <p class="card-text">@Product.Description</p>
        <a href="#" class="btn btn-primary">Agregar</a>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
